@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 14% 96%;
  --foreground: 220 9% 13%;
  --muted: 220 16% 92%;
  --muted-foreground: 220 6% 39%;
  --card: 0 0% 100%;
  --card-foreground: 220 9% 13%;
  --border: 220 12% 86%;
  --primary: 220 9% 9%;
  --primary-foreground: 0 0% 100%;
  --accent: 220 14% 95%;
  --accent-foreground: 220 9% 13%;
  --ring: 220 10% 20%;
}

* {
  @apply border-border;
}

html,
body {
  @apply h-full;
}

body {
  @apply bg-background text-foreground antialiased;
  font-family: var(--font-manrope), "Manrope", sans-serif;
}
